In [1]:
import numpy as np
import pandas as pd
import re
from stop_words import get_stop_words
stop_words = get_stop_words('indonesian')

In [7]:
df = pd.read_csv("dataset.csv")
df.head()

   Unnamed: 0                                               Teks  label
0           0  [PROMO] Beli paket Flash mulai 1GB di MY TELKO...      1
1           1  2.5 GB/30 hari hanya Rp 35 Ribu Spesial buat A...      1
2           2  2016-07-08 11:47:11.Plg Yth, sisa kuota Flash ...      1
3           3  2016-08-07 11:29:47.Plg Yth, sisa kuota Flash ...      1
4           4  4.5GB/30 hari hanya Rp 55 Ribu Spesial buat an...      1

In [3]:
def preprocess_text(s):
    s = str.lower(s)

    # removing symbols
    s = ' '.join(re.findall('[\w]+',s))
    
    # replace numbers with empty string
    s = ' '.join(re.sub(r"[0-9]+", '', word) for word in s.split())

    # removing one-character word
    s = ' '.join(word for word in s.split() if len(word) >= 2)
    
    # removing stop words
    s = ' '.join(word for word in s.split() if word not in stop_words)
    
    return s

In [9]:
df.loc[:,"Teks"] = df.Teks.apply(lambda s: preprocess_text(s))
df = df[['Teks', 'label']]
df.head()

                                                Teks  label
0  promo beli paket flash mulai gb my telkomsel a...      1
1  gb hari rp ribu spesial terpilih aktifkan prom...      1
2  plg yth sisa kuota flash kb download mytelkoms...      1
3  plg yth sisa kuota flash kb download mytelkoms...      1
4  gb hari rp ribu spesial terpilih aktifkan buru...      1

In [10]:
df.to_csv("clean_dataset.csv", index=False)