In [19]:
import pandas as pd 
import os
import re

In [20]:
# os.chdir("C:\\Users\\yusufsholeh\\Documents\\ML\\Machina-Learning")
os.getcwd()

'C:\\Users\\yusufsholeh\\Documents\\ML'

In [21]:
os.listdir()

['.ipynb_checkpoints',
 'Machina-Learning',
 'raw_data.csv',
 'removed_duplicates.csv',
 'remove_duplicates.ipynb',
 'sms-20190416-213640.xls',
 'Untitled.ipynb']

In [22]:
df = pd.read_csv("raw_data.csv")

In [23]:
df.head()

                                                Teks  label
0                                  Sy dh di rmh no 2    0.0
1               pak bilang sj ya itu charger laptop     0.0
2                   Mas.. sy gantung di bel ya mas .    0.0
3  Sore mas\nSy Dr gojek,,,ini sesuai pesanan ya\...    1.0
4  MERDEKA !!! Ambil diskon PULSA dan hadiah prom...    1.0

In [24]:
df.dtypes

Teks      object
label    float64
dtype: object

In [25]:
# os.chdir("C:\\Users\\yusufsholeh\\Documents\\ML\\Machina-Learning")

In [26]:
# df2 = pd.read_csv("dataset.csv")

In [27]:
# df2.dtypes

In [28]:
df.head()

                                                Teks  label
0                                  Sy dh di rmh no 2    0.0
1               pak bilang sj ya itu charger laptop     0.0
2                   Mas.. sy gantung di bel ya mas .    0.0
3  Sore mas\nSy Dr gojek,,,ini sesuai pesanan ya\...    1.0
4  MERDEKA !!! Ambil diskon PULSA dan hadiah prom...    1.0

In [29]:
def normalize(s):
    s = str.lower(s)
    
    # replace numbers with empty string
    s = ' '.join(re.sub(r"[0-9]+", '', word) for word in s.split())
    
    # remove symbols
    s = ' '.join(re.findall('[\w]+',s))
    
    # remove spaces
    s = re.sub('\s+',' ',s)
    s = s.strip()
    s = s.replace(" ", "")
    
    return s

def add_normalized_column(df):
    df['normalized_text'] = df.apply(lambda row: normalize(row['Teks']), axis=1)
    return df

df = add_normalized_column(df)
df.head()

,Teks,label,normalized_text
0,Sy dh di rmh no 2,0.0,sydhdirmhno
1,pak bilang sj ya itu charger laptop,0.0,pakbilangsjyaituchargerlaptop
2,Mas.. sy gantung di bel ya mas .,0.0,massygantungdibelyamas
3,"Sore mas\nSy Dr gojek,,,ini sesuai pesanan ya\...",1.0,soremassydrgojekinisesuaipesananyamohonditungg...
4,MERDEKA !!! Ambil diskon PULSA dan hadiah prom...,1.0,merdekaambildiskonpulsadanhadiahpromomerdekamu...

In [30]:
df.shape

(1765, 3)

In [31]:
def remove_duplicate_on_normalized(df):
    df = df.drop_duplicates(subset=['normalized_text'], keep="first")
    return df

df = remove_duplicate_on_normalized(df)
df.head()

,Teks,label,normalized_text
0,Sy dh di rmh no 2,0.0,sydhdirmhno
1,pak bilang sj ya itu charger laptop,0.0,pakbilangsjyaituchargerlaptop
2,Mas.. sy gantung di bel ya mas .,0.0,massygantungdibelyamas
3,"Sore mas\nSy Dr gojek,,,ini sesuai pesanan ya\...",1.0,soremassydrgojekinisesuaipesananyamohonditungg...
4,MERDEKA !!! Ambil diskon PULSA dan hadiah prom...,1.0,merdekaambildiskonpulsadanhadiahpromomerdekamu...

In [32]:
df.shape

(711, 3)

In [33]:
df = df.drop('normalized_text', axis=1)
df.head()

                                                Teks  label
0                                  Sy dh di rmh no 2    0.0
1               pak bilang sj ya itu charger laptop     0.0
2                   Mas.. sy gantung di bel ya mas .    0.0
3  Sore mas\nSy Dr gojek,,,ini sesuai pesanan ya\...    1.0
4  MERDEKA !!! Ambil diskon PULSA dan hadiah prom...    1.0

In [35]:
# replace newline and tabs with spaces
df['Teks'] = df.apply(lambda row: re.sub('\s+',' ',row['Teks']), axis=1)


# save to csv
df.to_csv("removed_duplicates.csv", index=False)