In [75]:
import pandas as pd 
import os
import re

In [76]:
# os.chdir("C:\\Users\\yusufsholeh\\Documents\\ML\\Machina-Learning")
os.chdir("C:\\Users\\yusufsholeh\\Documents\\DSA_LABEL")
os.getcwd()

'C:\\Users\\yusufsholeh\\Documents\\DSA_LABEL'

In [77]:
os.listdir()

['digim.csv',
 'digim.xls',
 'rayza.csv',
 'rayza.xlsx',
 'removed_duplicates_rayza.csv',
 'removed_duplicates_yudhis.csv',
 'yudhis.csv',
 'yudhis.xls']

In [78]:
df = pd.read_csv("digim.csv")

In [79]:
df.head()

                                                Teks  label
0                         Baik bu, saya akan ke sana    0.0
1                            Tolong konfirmasinya ya    0.0
2  Selamat pagi, berhubung baru ada penggantian p...    0.0
3  Tokopedia - 324957 adalah kode untuk Masuk. JA...    0.0
4  Tokopedia - 777619 adalah kode verifikasi keam...    0.0

In [80]:
df.dtypes

Teks      object
label    float64
dtype: object

In [81]:
# os.chdir("C:\\Users\\yusufsholeh\\Documents\\ML\\Machina-Learning")

In [82]:
# df2 = pd.read_csv("dataset.csv")

In [83]:
# df2.dtypes

In [84]:
df.head()

                                                Teks  label
0                         Baik bu, saya akan ke sana    0.0
1                            Tolong konfirmasinya ya    0.0
2  Selamat pagi, berhubung baru ada penggantian p...    0.0
3  Tokopedia - 324957 adalah kode untuk Masuk. JA...    0.0
4  Tokopedia - 777619 adalah kode verifikasi keam...    0.0

In [85]:
import string
def normalize(s):
    s = str(s)
    s = str.lower(s)
    
    # replace numbers with empty string
    s = ' '.join(re.sub(r"[0-9]+", '', word) for word in s.split())
    
    # remove symbols
    s = s.translate(str.maketrans('', '', string.punctuation))
    
    # remove spaces
    s = re.sub('\s+',' ',s)
    s = s.strip()
    s = s.replace(" ", "")
    
    return s

def add_normalized_column(df):
    df['normalized_text'] = df.apply(lambda row: normalize(row['Teks']), axis=1)
    return df

df = add_normalized_column(df)
df.head()

,Teks,label,normalized_text
0,"Baik bu, saya akan ke sana",0.0,baikbusayaakankesana
1,Tolong konfirmasinya ya,0.0,tolongkonfirmasinyaya
2,"Selamat pagi, berhubung baru ada penggantian p...",0.0,selamatpagiberhubungbaruadapenggantianpimpinan...
3,Tokopedia - 324957 adalah kode untuk Masuk. JA...,0.0,tokopediaadalahkodeuntukmasukjanganmemberitahu...
4,Tokopedia - 777619 adalah kode verifikasi keam...,0.0,tokopediaadalahkodeverifikasikeamananpentingde...

In [86]:
df.shape

(2688, 3)

In [87]:
def remove_duplicate_on_normalized(df):
    df = df.drop_duplicates(subset=['normalized_text'], keep="first")
    return df

df = remove_duplicate_on_normalized(df)
df.head()

,Teks,label,normalized_text
0,"Baik bu, saya akan ke sana",0.0,baikbusayaakankesana
1,Tolong konfirmasinya ya,0.0,tolongkonfirmasinyaya
2,"Selamat pagi, berhubung baru ada penggantian p...",0.0,selamatpagiberhubungbaruadapenggantianpimpinan...
3,Tokopedia - 324957 adalah kode untuk Masuk. JA...,0.0,tokopediaadalahkodeuntukmasukjanganmemberitahu...
4,Tokopedia - 777619 adalah kode verifikasi keam...,0.0,tokopediaadalahkodeverifikasikeamananpentingde...

In [88]:
df.shape

(1118, 3)

In [89]:
df = df.drop('normalized_text', axis=1)
df.head()

                                                Teks  label
0                         Baik bu, saya akan ke sana    0.0
1                            Tolong konfirmasinya ya    0.0
2  Selamat pagi, berhubung baru ada penggantian p...    0.0
3  Tokopedia - 324957 adalah kode untuk Masuk. JA...    0.0
4  Tokopedia - 777619 adalah kode verifikasi keam...    0.0

In [91]:
# replace newline and tabs with spaces
df['Teks'] = df.apply(lambda row: re.sub('\s+',' ',str(row['Teks'])), axis=1)


# save to csv
df.to_csv("removed_duplicates_digim.csv", index=False)

SK berlaku sampai tujunagasf sf asfas

'3a'